<div class="container-fluid p-3 w-50">
    <div class="bg-info text-white p-3 text-center" style="border-radius: 20px 0px 20px 0px;">
        <h1 class="mb-2 text-uppercase align-middle">Welcome To Store</h1>
    </div>
    <!-- <div class="p-3 d-flex align-items-center justify-content-center">
        <div>
            <button class="btn btn-success" (click)="OpenPage('customermanage')">Add Customer</button>
            <button class="btn btn-warning ml-2" (click)="OpenPage('showcustomers')">Show Customer</button>
        </div>
    </div> -->
</div>